# Estadistica Aplicada
## Edwin Javier Hernández Rodríguez
### 7ma sesion 14 feb (dia del amors)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
credito = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/credit_risk.csv')

In [5]:
credito.head()

,checking_account_status,duration,credit_history,purpose,amount,savings_account_status,employment_years,installment_rate,personal_status,other_debtors,...,property,age,other_installment_plans,housing,number_of_credits,job,people_liable,telephone,foreign_worker,full_repaid
0,below_0,6,critical_account,radio_TV,1169,unknown,above_7,4,M_single,None,...,real_estate,67,None,own,2,official,1,1,1,1
1,0_to_200,48,existing_credit_paid,radio_TV,5951,below_100,between_1_4,2,F_not_single,None,...,real_estate,22,None,own,1,official,1,0,1,0
2,no_account,12,critical_account,education,2096,below_100,between_4_7,2,M_single,None,...,real_estate,49,None,own,1,unskilled,2,0,1,1
3,below_0,42,existing_credit_paid,furniture_equipment,7882,below_100,between_4_7,2,M_single,guarantor,...,life_insurance,45,None,free,1,official,2,0,1,1
4,below_0,24,delay_in_paying,car_new,4870,below_100,between_1_4,3,M_single,None,...,no_property,53,None,free,2,official,2,0,1,0

In [6]:
credito[['duration','full_repaid']]

     duration  full_repaid
0           6            1
1          48            0
2          12            1
3          42            1
4          24            0
..        ...          ...
995        12            1
996        30            1
997        12            1
998        45            0
999        45            1

[1000 rows x 2 columns]

In [12]:
# en esta base  de datos el evento es pagar el credito en su totalidad
#incorrecto:
round(credito['duration'].mean(),2) 
#ya que este promedio no considera a los que ya pagaron en su totalidad

20.9

In [13]:
round(credito[credito['full_repaid']==1]['duration'].mean(),2)
#promedio real que se tardan en pagarle completamente al banco

19.21

La variable **T** es una v.a no negativa que mide el tiempo de supervivencia

**t** es un valor especifico que toma la variable T

La función de Supervivencia se denota por 
$ S(t)= P(T>t)$

1. $S(0)=1$
2. $S(t a infinito)=0$
3. Función es decreciente

$P(T<t) = F(t)$

La probabilidad de que el evento/falla ocurra antes del tiempo "t"

$F(t)$ es la función de distribución acumulada

$f(t)= \frac{dF(x)}{dx}$ pdf (funcion de densidad de probabilidad)

$f(t)=P(T=t)$ es la probabilidad que el evento ocurra en "T"

$ P(A) = 1- P(A^)$

$P(T<t)= 1 - P(T) $

$F(t)=1- S(t) $

$S(t)=1- F(t) $

Sabemos $f(t)= \frac{dF(t)}{dt}= \frac{d(1-S(t))}{dt}=-\frac{dS(t)}{dt}$

Hallar la probabilidad de morir a los 40 años, si la función de supervivencia de los individuos es la siguiente: $1-\frac{t^2}{10,000}$

$P(t=40)= f(t=40)$

In [18]:
t = 1- (1 - ((40**2)/10000))
round(t,2)
#probabilidad de morir a los 40 años

0.16